@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #40414f #202123;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #202123;
}

*::-webkit-scrollbar-thumb {
  background-color: #40414f;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #565869;
}

body {
  @apply antialiased;
}
